/*font e colori*/
h1, h2, header{
	font-family: 'Delius', cursive;
  letter-spacing: 0.05em;
}

 footer, p, ol, .testodx, ul#ingredienti, .polaroid{
	font-family: 'Roboto Slab', serif;
  letter-spacing: 0.05em;
}


h1 {
  color: #B7000A;
}

h2 {
  color: #794E4D;
  text-decoration: underline;
}


p {
  line-height: 1.7em;
}
/*header*/
header {
  padding-top: 2em;
}

a#logo {
  padding: 1em;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  display: block;
}

/*navbar*/
/*navbar principale*/
nav {
  padding-top: 1em;
  padding-bottom: 2em;  
}

nav a {
 color: black;
}

nav li.nav-item, #dropdown{
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

/*dropdown*/
#dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/*nav secondaria*/
#nav2 li{
  border-bottom: 1px solid black;
}

/*active*/
nav ul li#active{
  background-color: #D81300;
}

#nav2 #active {
  text-decoration: underline;
}

/*hover*/
nav a:hover {
  color: black;
}

.nav-item:hover, .dropdown-content li:hover #dropdown{
  background-color: #D81300;
}

#dropdown:hover .dropdown-content{
  display: inline-block; 
}

#nav2 li:hover{
  text-decoration: underline;
}
 
/*body*/
body {
  background-attachment: fixed;
  background-image: url(sfondo2.png); 
  position: relative;
  min-height: 100vh
}

body section{
  margin-left:7em;
  margin-right: 7em;
  background-image: url(sfondo.jpg);
  box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
}

/*home*/
.imgcentro {
  overflow:hidden;
  width: auto;
  text-align: right;
  padding-bottom: 3em;
  height: auto;   
  max-height: 30%;
  border-top: 5px solid black;
  border-bottom: 5px solid black;    
}

.centro {
   position: absolute;
   float: left;
   height: 20em;
   width: 70%;
   background: url(ramenanime.jpg) left center no-repeat;
   background-size: 110%;
   background-attachment: fixed
   shape-outside: polygon(0 0, 70% 0, 30% 100%, 0% 100%);
   clip-path: polygon(0 0, 70% 0, 30% 100%, 0% 100%);
}

.centrosx {  
  display: right;
  float: right;
  text-align: right;
  width: auto;
  height: 17em;
}

img.centrodx{
  display: center;
  width: auto;
  height: auto;
}

.abstract {
  text-align: center;
  padding: 3em;
}

h2#lastnews {
  text-decoration: underline;
  text-align: center;
  padding: 1em;
}

/*polaroid*/ 
.row {
   display: inline-block;
   position: relative;
   margin-bottom: 2em;
}

.polaroid {
  padding-left: 3em;
  padding-right: 3em;
  margin-bottom: 1em;
  padding-bottom: 2em;
}

.polaroid a {
  background: #FFF4EE;
  width: 90%;
  height: 14em;
  display: inline-block;
  border: 1px solid black;
  margin: 1em;
  padding: 0.5em;
  text-align: center;
  text-decoration: none !important;
  -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
  -moz-box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
  box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
  -webkit-transition: all .20s linear;
  -moz-transition: all .20s linear;
  transition: all .20s linear;
  z-index: 0;
  position: relative;
}
.polaroid a:after {
  color: black;
  font-size: 25px;
  content: attr(title);
  position: relative;
  top: 1px;
}

.polaroid img {
  border: 1px solid black;
  display: block;
  width: 15em;
  height: 11em;
}

.polaroid a:hover {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  transform: scale(1.2);
  z-index: 10;
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, .7);
  -moz-box-shadow: 0 10px 20px rgba(0, 0, 0, .7);
  box-shadow: 0 10px 20px rgba(0, 0, 0, .7);
}

/*body anime*/
.titoloanime {
    overflow:hidden;
    width: auto;
    text-align: right;
    padding-right: 1em;
    padding-bottom: 3em;
    height: auto;
}

.jujutsu {
   float: left;
   width: 100%;
   height: 20em;
   background: url(jujutsu.jpg) left bottom no-repeat;
   background-size: 100%;
   border-top: 5px solid black;
   border-bottom: 5px solid black;
   shape-outside: polygon(0 0, 70% 0, 30% 100%, 0% 100%);
   clip-path: polygon(0 0, 70% 0, 30% 100%, 0% 100%);
}

.aot {
   float: left;
   width: 100%;
   height: 20em;
   background: url(attack.jpg) center top no-repeat;
   background-size: 100%;
   border-top: 5px solid black;
   border-bottom: 5px solid black;
   shape-outside: polygon(0 0, 70% 0, 30% 100%, 0% 100%);
   clip-path: polygon(0 0, 70% 0, 30% 100%, 0% 100%);
}

.death {
   float: left;
   width: 100%;
   height: 20em;
   background: url(death.jpg) right bottom no-repeat;
   background-size: 100%;
   border-top: 5px solid black;
   border-bottom: 5px solid black;
   shape-outside: polygon(0 0, 70% 0, 30% 100%, 0% 100%);
   clip-path: polygon(0 0, 70% 0, 30% 100%, 0% 100%);
}

.ricette {
  text-align: center;
  line-height: 1.5em;
}

/*ricetta*/
/*titoloricette*/
.mochi {
   float: left;
   width: 90%;
   height: 20em;
   background: url(mochi1.jpg) left center no-repeat;
   background-size: 70%;
   border-top: 5px solid black;
   border-bottom: 5px solid black;
   shape-outside: polygon(0 0, 70% 0, 30% 100%, 0% 100%);
   clip-path: polygon(0 0, 70% 0, 30% 100%, 0% 100%);
}

.dita {
   float: left;
   width: 90%;
   height: 20em;
   background: url(dita.jpeg) left center no-repeat;
   background-size: 70%;
   border-top: 5px solid black;
   border-bottom: 5px solid black;
   shape-outside: polygon(0 0, 70% 0, 30% 100%, 0% 100%);
   clip-path: polygon(0 0, 70% 0, 30% 100%, 0% 100%);
}

#ingredienti {
  padding-left: 1em;
}

#ricetta {
  display: flex;
  flex-direction: row;
  padding-top: 2em;
  border-bottom: 5px solid black;
}

#preparazione {
  padding-left: 1em;
  text-decoration: underline;

}

#ricetta img {
  margin-top: 1em;
  border-top: 5px solid black;
  border-bottom: 5px solid black;
}

ul#ingredienti{
  margin-bottom: 0em !important;
  padding-bottom: 2em;
  margin-left: 2em;
  line-height: 2em;
}

#foto {
  width: 80%;
  float: right;
  margin-right: 2em;
  margin-bottom: 2em;
}

#descrizione {
  float: left;
  margin-bottom: 2em;
  margin-top: 1em;
}

/*about*/
.aboutsx {
    overflow:hidden;
    width: auto;
    text-align: right;
    padding-right: 1em;
    padding-bottom: 3em;
    height: auto;
}

.idea {
   float: left;
   width: 90%;
   height: 20em;
   background: url(sfondo3.jpg) left center no-repeat;
   background-size: 100%;
   border-top: 5px solid black;
   border-bottom: 5px solid black;
   shape-outside: polygon(0 0, 70% 0, 30% 100%, 0% 100%);
   clip-path: polygon(0 0, 70% 0, 30% 100%, 0% 100%);
}

.aboutdx {
    overflow:hidden;
    width: auto;
    text-align: left;
    padding-left: 1em;
    height: auto;
    padding-bottom: 2em;
}

.persona {
   float: right;
   width: 100%;
   height: 20em;
   background: url(io.jpeg) right top no-repeat;
   background-size: 70%;
   border-top: 5px solid black;
   border-bottom: 5px solid black;
   shape-outside: polygon(70% 0, 100% 0, 100% 100%, 30% 100%);
   clip-path: polygon(70% 0, 100% 0, 100% 100%, 30% 100%);
}

/*contatti*/
#titolosocial {
 text-align: center;
 overflow: hidden;
}

#icon {
  color: #794E4D;
  padding-bottom: 10px;
  padding-top: 15px;
}

.contatti {
  text-align: center;
}

.contatti a {
 background: #EDE9D0;
  width: 85%;
  height: 12em;
  display: inline-block;
  border: 1px solid black;
  margin: 1em;
  padding: 0.5em;
  text-align: center;
  text-decoration: none;
  -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
  -moz-box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
  box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
  -webkit-transition: all .20s linear;
  -moz-transition: all .20s linear;
  transition: all .20s linear;
  z-index: 0;
  position: relative;
}

.contatti a:after {
  color: #56423D;
  font-size: 25px;
  content: attr(title);
  position: relative;
  top: 1px;
}

.contatti a:hover {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  transform: scale(1.2);
  z-index: 10;
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, .7);
  -moz-box-shadow: 0 10px 20px rgba(0, 0, 0, .7);
  box-shadow: 0 10px 20px rgba(0, 0, 0, .7);
}

.polaroid .contatti img {
  border: 1px solid black;
  display: block;
  width: 10em;
  height: 10em;
}

/*footer*/
footer {
  margin-top: 2em;
  bottom: 0;
  width: 100%;
  background-color: #EDE9D0;
  color: white;
  text-align: center;
}

#footer {
  color: #880000;
  padding: 1em;
}

#footer:hover {
  transform: scale(1.2);
}

/*documentazione*/

.documentazione {
  text-align: center;
  padding: 2em;
}

.documentazione p {
  padding-bottom: 1em;
}

.documentazione ol li{
  text-align: left;
}

figure {
 padding-bottom: 2em;
}

figcaption {
  padding-top: 0.5em;
  text-decoration: underline;
}

#imgdoc {
  width: 50%;
  text-align: center;
  display: center;
}

#social {
  width: 30%;
  padding-left: 2em;
}

@media only screen and (max-device-width: 480px) {

h1, p, ol {
  font-size: 3em;
}

a#logo{
  margin-left: 0;
  margin-right: auto;
  position: left;
  padding-left: 1em;
  margin-bottom: 1em;
  text-align: left;
  right: 0;
  width: 45%;
  height: 40%;
}

a#logo img {
  width: 95%;
}

body{
  margin-left:0;
  margin-right: 0;
  background-image: url(sfondo.jpg);
}

body section{
  margin-left: 0;
  margin-right: 0;
  background-image: url(sfondo.jpg);
  box-shadow: none;
}

header section{
  display: flex;
  flex-direction: row;
}

nav {
  padding-top: 1em;
  padding-bottom: 1em; 
  margin-left: 0; 
  font-size: 1.5em;
}

#nav2 {
  position: relative;
  float: right;
  font-size: 0.9em;
}

.row {
   position: relative;
   margin-right: auto;
   width: 100%;
}

.polaroid { 
  position: relative;
  padding-left: 3em;
  padding-right: 3em;
}

.polaroid a {
  background: #EDE9D0;
  width: 50em;
  height: 12em;
  display: inline-block;
  border: 1px solid black;
  margin-bottom: 2em;
  padding: 0.5em;
  text-align: center;
  text-decoration: none;
  -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
  -moz-box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
  box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
  -webkit-transition: all .20s linear;
  -moz-transition: all .20s linear;
  transition: all .20s linear;
  z-index: 0;
  position: relative;
}

.polaroid a::after {
  top: 3em;
  position: absolute;
}

.polaroid img {
  border: 1px ;
  display: center;
  width: 15em;
  height: 11em;
}

#icon {
  float: left;
  padding: 0.5em;
}

.titoloanime b, .aboutsx b, .aboutdx b{
  font-size: 2em;
}

h2.ricette b {
  font-size: 2em;
}

ul.testodx {
  font-size: 2.5em;
}

ul#ingredienti{
  margin-left: 0;
  font-size: 3em;
}

h2#ingredienti, h2#preparazione {
  padding-left: 0.5em;
  font-size: 3em;
}

ol {
  margin-left: 0.5em;
}

h2#nomericetta {
  font-size: 3em;
}

p.testodx, p#testo {
  margin-left: 1em !important;
  display: table-row;
  position: relative;
  text-align: center;
}

footer {
  margin-top: 4em;
}

#footer {
  width: 5em;
}
}
